{% if error %}<div class=error><strong>Error:</strong> {{ error }}</div>{% endif %}
<form action='' method='post'>
Username: <input type='text' name='{{ request.form.username }}"' /><br>
Password: <input type='password' name='{{ request.form.password }}"' /><br>
Password again: <input type='password' name='{{ request.form.passwordagain }}"' /><br>
Real name: <input type='text' name='{{ request.form.realname }}"' /><br>
Email: <input type='text' name='{{ request.form.email }}"' /><br>
<input type='submit' /></form>
